
body {
    background-color: #add8e6;
    font-family: Trebuchet MS;
}
.loginbox {
    background-color: #ffffff;
    border-radius: 3em;
    margin-top: 6em;
    padding-top: 4em;
    width: 32em;
}
.registrebox {
    background-color: #ffffff;
    border-radius: 3em;
    margin-top: 6em;
    padding-left: 2em;
    width: 33em;
}
.itemVar {
    padding-top: 7px;
}
.msgerror {
    color: #ff0000;
}
.classvar {
    background-color: #ffffff;
    border-bottom: 1px inset #000000;
    height: 3em;
    position: fixed;
    text-align: left;
    width: 100%;
    z-index: 10;
}
.div_context {
    padding-top: 4em;
}
.classvarSub {
    padding-top: 3px;
}
.center {
    align-content: center;
}
.displayNone {
    display: none;
}
.BoxHoritzontalPelicules {
    background-color: #ffffff;
    border-radius: 4pt;
    display: inline-block;
    padding-bottom: 1em;
}
.BoxHoritzontal {
    background-color: #ffffff;
    border-radius: 4pt;
    display: inline-block;
    padding: 5pt;
    width: 100%;
}
.TitulSeccio {
    border-bottom-style: dotted;
    border-bottom-width: 1pt;
    font-size: large;
    font-style: inherit;
    font-weight: bold;
    margin-top: 10pt;
}
.classImg {
    width: 100%;
    min-height: 184px;
}
.imgPerfil {
    background-color: #ffffff;
    max-height: 23em;
    min-height: 3em;
    width: 100%;
}
.btnPerfilHorz {
    background-color: #ffffff;
    border-color: #f9f9f9;
    border-style: solid;
    border-width: 1pt;
    padding: 5pt;
    text-align: start;
    width: 100%;
}
.btnPerfilHorz:hover {
    background-color: #87cefa;
    color: #f9f9f9;
}
.margin-top-1em {
    margin-top: 1em;
}
.margin-left-innerBoxes {
    margin-left: 5pt;
}
.inline-block {
    display: inline-block;
}
.activitat {
    border-radius: 3pt;
    border-style: solid;
    border-width: 1px;
    margin-top: 3pt;
    padding-bottom: 2px;
    padding-top: 2pt;
}
.TitleFilm {
    border-bottom-color: #808080;
    border-bottom-style: inset;
    font-family: Trebuchet MS;
    font-size: 50px;
}
.sinapsi {
    color: #808080;
    font-family: Trebuchet MS;
    font-size: 14px;
    padding-left: 20px;
    padding-top: 5px;
}
.sinapsiTitle, .titleBox {
    font-size: 19px;
    padding-top: 15px;
}
.titleOriginal {
    color: #808080;
    display: inline;
    font-size: 14px;
}
.color-gold {
    color: #ffd700;
}
.rating {
    font-size: 13px;
    padding-top: 5px;
    text-align: center;
}
.btnBox {
    padding-top: 5px;
}
.btnNormal {
    min-width: 10em;
}
.btnLarge {
    min-width: 15em;
}
.opinionsBox {
    margin-top: 3em;
}
.opinions {
    margin-top: 10px;
}
.option_a {
    font-size: 11px;
}
.textareaOpinio {
    border-color: #000000;
    border-radius: 18px;
    border-style: solid;
    border-width: 1px;
    height: 6em;
    padding: 10px;
    resize: none;
    width: 100%;
}
.red {
    border-color: #ff0000;
}
.activePerfil {
    background-color: #87cefa !important;
}
.opinion {
    border-bottom: 1px solid #000000;
    padding-bottom: 5px;
    padding-top: 5px;
}
.notaMitja {
    font-size: 25px;
    text-align: center;
}
.notaMitjaText {
    font-size: 14px;
    text-align: center;
}
.imgItemPelicula {
    width: 100%;
}
.titleItem {
    font-size: 19px;
}
.comentari {
    border-bottom: 1px solid #000000;
    padding-bottom: 5px;
    padding-top: 5px;
}
.box {
}
.itemFilm {
    max-height: 16em;
}
