
<!-- "Body" de la aplicacció!-->
<div class="div_context">
    <div class="">

        <!-- Resultat del buscador
            -> amagat per defecte.
        -->
        <div class="col-md-8 col-md-offset-2 ">
            <div class="BoxHoritzontal">
                <div class="col-md-12 TitulSeccio">Resultat de la Busqueda</div>
                <div id="divResultatDelBuscador" class="col-md-12">

                </div>
            </div>
        </div>

    </div>
</div>