
<!-- "Body" de la aplicacció!-->
<div class="div_context">
    <div class="">

        <!-- Resultat del buscador
            -> amagat per defecte.
        -->
        <div id="divResultatDelBuscador" class="col-md-8 col-md-offset-2 displayNone ">
        </div>

        <div class="col-md-8 col-md-offset-2">

            <div class="BoxHoritzontal">
                <div class="col-md-12 TitulSeccio">Pelicules més vistes</div>
                <div id="divDeLesMesVistes" class="col-md-12 box">

                </div>
            </div>

        </div>

        <div class="col-md-8 col-md-offset-2">
            <div class="BoxHoritzontal">
                <div class="col-md-12 TitulSeccio">Pelicules més buscades</div>
                <div id="divDeLesMesBuscades" class="col-md-12">

                </div>
            </div>


        </div>


    </div>
</div>