
<!-- "Body" de la aplicacció!-->
<div class="div_context">
    <div class="col-md-10 col-md-offset-1 inline-block">

        <div class="col-md-3 col-sm-5 col-xs-6">
            <div class="BoxHoritzontal">
                <img id="idImageFilm" class="imgPerfil" src="img/film-pelicula.jpg">

                <div class="rating">
                    <span class="glyphicon glyphicon-star-empty color-gold"></span>
                    <span class="glyphicon glyphicon-star-empty color-gold"></span>
                    <span class="glyphicon glyphicon-star-empty color-gold"></span>
                    <span class="glyphicon glyphicon-star-empty color-gold"></span>
                    <span class="glyphicon glyphicon-star-empty color-gold"></span>
                    <span class="glyphicon glyphicon-star-empty color-gold"></span>
                    <span class="glyphicon glyphicon-star-empty color-gold"></span>
                    <span class="glyphicon glyphicon-star-empty color-gold"></span>
                    <span class="glyphicon glyphicon-star-empty color-gold"></span>
                    <span class="glyphicon glyphicon-star-empty color-gold"></span>

                </div>
            </div>
            <div id="IdDivPeliculaVista" class="btnBox">

            </div>
            <div id="IdDivPeliculaFavorita" class="btnBox">

            </div>
        </div>

        <div class="col-md-9 col-sm-7 col-xs-6">
            <div class="BoxHoritzontal">
                <div class="TitleFilm">
                    <div class="col-md-10"> <%= titlefilm %> </div>
                    <div class="col-md-2">
                        <DIV class="notaMitjaText col-md-12">nota</DIV>
                        <DIV class="notaMitja col-md-12"></DIV>

                    </div>
                    <div class="titleOriginal col-md-10">(Titol orginal:&nbsp;<%= titlefilmOriginal %>)</div>

                </div>
                <div class="sinapsiTitle col-md-12">Sinapsis</div>
                <div class="sinapsi  col-md-12">
                    <%= sinapsi %>
                </div>

                <div class="opinionsBox  col-md-12">
                    <div class="titleBox">Opinions </div>
                    <a id="idCrearOpinio" class="option_a">Crear una nova opinió</a>
                    <div class="opinions"></div>

                </div>

            </div>
        </div>
    </div> <!-- col-md-10 col-md-offset-1 -->
</div>