
<!-- "Body" de la aplicacció!-->
<div class="div_context">
    <div class="col-md-10 col-md-offset-1 inline-block">

        <div class="col-md-3 col-sm-5 col-xs-6">
            <div class="BoxHoritzontal">
                <img class="imgPerfil" src="img/popcorn.png">

                <div class="margin-top-1em">
                    <button id="btnActivitatsRecents" class="btnPerfilHorz activePerfil"><strong>Activitats recents</strong></button>
                </div>

                <div>
                    <button id="btnComentaris" class="btnPerfilHorz"><strong>Opinions</strong></button>
                </div>

                <div>
                    <button id="btnPeliculesVistes" class="btnPerfilHorz"><strong>Pelicules Vistes</strong></button>
                </div>

                <div>
                    <button id="btnPeliculesFavorites" class="btnPerfilHorz"><strong>Pelicules Favorites</strong></button>
                </div>
            </div>
        </div>

        <div class="col-md-9 col-sm-7 col-xs-6">

            <div class="BoxHoritzontal">
                <div class="col-md-12 TitulSeccio">Activitats Recents</div>
                <div id="IdPerfilActivitatsRecents">

                </div>
                <div class="col-md-12 TitulSeccio">Opinions</div>
                <div id="IdPerfilComentaris">

                </div>
                <div class="col-md-12 TitulSeccio">Pelicules Vistes</div>
                <div id="IdPerfilPeliculesVistes">

                </div>
                <div class="col-md-12 TitulSeccio">Pelicules Favorites</div>
                <div id="IdPerfilPeliculesFavorites">

                </div>
            </div>
        </div>


    </div> <!-- col-md-10 col-md-offset-1 -->
</div>