<div class="classvar">
    <div class="row classvarSub">
        <div class="col-md-1 col-md-offset-1 col-sm-2 col-xs-2 itemVar">
             <strong>&nbsp;Videoclub</strong>
        </div>
        <div class="col-md-2 col-sm-2 col-xs-2 itemVar"><a href="#home"><span class="glyphicon glyphicon-home hidden-sm"></span>&nbsp;<strong class="hidden-xs">Home</strong></a></div>
        <div class="col-md-2 col-sm-2 col-xs-2 itemVar"><a id="IdPerfilUsuariVar" ><span class="glyphicon glyphicon-user hidden-sm"></span>&nbsp;<strong class="hidden-xs">Perfil</strong></a></div>

        <!--  Buscador de Pelicules  -->
        <div class="col-md-3 col-sm-4 col-xs-4 col-md-offset-1">
                <div class="input-group sizeMedium">
                    <input id="inputVarBuscar" type="text" class="form-control">
                        <span class="input-group-btn">
                            <button id="btnVarBuscar" class="btn btn-default" type="button">
                                <span class="glyphicon glyphicon-search"></span></button>
                        </span>
                </div><!-- /input-group -->
        </div>
        <div class="col-md-2 col-sm-2 col-xs-2 itemVar"><strong><a id="idlogout" >Tancar</a></strong></div>
    </div>
</div>