<div class=" col-md-3 col-md-offset-1 loginbox">
    <div class="form-horizontal">
        <div id="divemail_log" class="form-group has-feedback">
            <label for="inputEmail_log" class="col-sm-3 control-label">Email:</label>
            <div class="col-sm-8">
                <input type="email" class="form-control" name="email" id="inputEmail_log" placeholder="Email" value="Prova@Prova.com">
            </div>
        </div>
        <div id="divpwd_log" class="form-group has-feedback">
            <label for="inputPassword_log" class="col-sm-3 control-label">Contrasenya:</label>
            <div class="col-sm-8">
                <input type="password" class="form-control" name="pwd" id="inputPassword_log" placeholder="Contrasenya" value="Prova">
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <div class="checkbox">
                    <label>
                        <input type="checkbox"> Recordar
                    </label>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button id="btnsubmitLogin" type="button" class="btn btn btn-success">Entrar</button>
                <br>
                <div id="msgError_log" class="msgerror"></div>
            </div>
        </div>
    </div>
</div>
