<div class="col-md-1 col-md-offset-1 registrebox">
    <h3>Resgistrar</h3>

    <div class="form-horizontal">

        <div class="form-group">
            <div class="col-sm-4">
                <input type="text" class="form-control" id="inputName_reg" name="name" placeholder="Nom" >
            </div>
            <div class="col-sm-6">
                <input type="text" class="form-control" id="inputSecondName_reg" name="secondname" placeholder="Cognom">
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-8">
                <input type="email" class="form-control" id="inputEmail_reg" name="email" placeholder="email" >
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-8">
                <input type="password" class="form-control" id="inputPassword_reg" name="password" placeholder="Contrasenya">
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-8">
                <input type="password" class="form-control" id="inputPassword2_reg" name="password2" placeholder="Repetir Contrasenya" >
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-10">
                <button id="btnsubmitRegistrar" type="button" class="btn btn-success">Enviar</button>
                <br>
                <div id="msgError_reg" class="msgerror"></div>
            </div>
        </div>
    </div>
</div>