
<!-- "Body" de la aplicacció!-->
<div class="div_context">
    <div class="">


        <div class="col-md-8 col-md-offset-2">
            <div class="BoxHoritzontal">
                <div class="col-md-12 TitulSeccio">Noticies</div>
                <div id="IdDivNoticies" class="col-md-12">

                </div>
            </div>


        </div>


    </div>
</div>